body {
    padding: 0;
    margin: 0;
}
div {
    height: 10vh;
    width: 50em;
}
@media only screen and (max-width: 768px) {
    div {
        height: 50vh;
        width: 10em;
    }
}
html {
    font-size: 20;
}
