html {
    font-size: 20;
}
* {
    font-family: Arial, sans-serif;
}
body {
    padding: 0;
    margin: 0;
    background: rgb(20, 20, 20);
}
body nav {
    color: rgb(20, 20, 20);
    font-family: Arial, sans-serif;
    background: rgb(70, 70, 70);
}
body nav a {
    color: rgba(120, 120, 120, 1.0);
}
